{% extends "sales/mobile_layout.html" %}

{% block content%}
<div class="row">
    <div class="col-lg-6">
       
        <div class="card">
            <a href="/mobile_sale/">
            <div class="stat-widget-one">
                <div class="stat-icon dib"><i class="ti-money color-info border-info"></i>
                </div>
                <div class="stat-content dib">
                  <strong><div class="stat-text">Add Mobile Sale</div></strong>  
                    
                   
                </div>
            </div>
            </a>
        </div>
    
    </div>
    <div class="col-lg-6">
        <div class="card">
            <a href="/create_mobile_invoice/">
            <div class="stat-widget-one">
                
                <div class="stat-icon dib"><i class="ti-book color-warning border-warning"></i>
                </div>
                <div class="stat-content dib">
                   <strong><div class="stat-text">Create Mobile Invoice</div>
                   </strong> 
                </div>
            
            </div>
            </a>
        </div>
    </div>
    
    
</div>

{% endblock content %}
