{% extends "admin/admin_layout.html" %}
{% block content %}
<div class="card-title">
    <div class="row">
        <div class="col-lg-12">
                <a class="btn btn-outline-danger" href="/admin_view_electronic_payment/{{sid}}/" >
                        <i class="ti-arrow-left" aria-hidden="true"></i>&nbsp;Back</a>  </div> 
    </div>
        

</div>
<div class="row">
    <div class="col-lg-12">
       <div class="signup-form">
            <form action="" method="post">
                    <input type="hidden" name="form_type" value="formTwentythree">
                    {% csrf_token %}
                    <h2>Add Payment</h2>
                    <p class="hint-text">Enter Amount</p>
                        
                    <div class="form-group input-group">
                      <div class="input-group-prepend">
                          <span class="input-group-text"> <i class="fa fa-money"></i> </span>
                      </div>
                      
                      {{pay_form.amount}}
                  </div> 
                  <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-edit"></i> </span>
                    </div>
                    
                    <input type="text" class="form-control" name="desc" placeholder="Description (OPTIONAL)">
                </div>    
                    <div class="form-group">
                            <button type="submit" class="button1">Pay</button>
                        </div>
                    </form>
                  <div class="text-center">Irreversable Action</div> 
           
       </div>
         <!--Section: Live preview-->
   
       </div>
       <!--Grid column-->
   
     </div>
<!-- Modal: modalCart -->

<!-- Modal: modalCart -->

    </body>
{% endblock content %}
